{{#if userItems}}
  <h2>Your Inventory:</h2>

  {{#each userItems as |item| }}
    <div class="row align-center mb-5">
      <div class="col-md-6">
        <h5>{{item.name}}</h5>
        <p>Quantity: {{item.quantity}}</p>
        <p>Cost: ${{item.cost}}</p>
        <p>Retail: ${{item.retail}}</p> 
      </div>
    </div>
  {{/each}}
{{else}}
  <p>No items in your inventory yet.</p>
{{/if}}

<hr />
<div id="all-items-container">
{{#each allItems as |item| }}
 <div class="row align-center mb-5">
      <div class="col-md-6">
        <h5>{{item.name}}</h5>
        <p>Quantity: {{item.quantity}}</p>
        <p>Cost: ${{item.cost}}</p>
        <p>Retail: ${{item.retail}}</p> 
        <button data-inventory="{{@root.inventory_id}}" data-item="{{item.id}}">Add to Inventory</button>
      </div>
    </div>
    {{/each}}
    </div>
    <script src="/js/inventory.js"></script>
