<div class="invoice-container">

  <h2 class="text-light mt-2">Create New Invoice</h2>
  <form id="newInvoiceForm" class="row g-3">
    <div id="invoice-container" class="row justify-content-center">

      <div class="col-md-6">
        <div class="field input-field">
          <input
            type="text"
            placeholder="First Name"
            class="input p-3"
            id="inputFirst"
          />
        </div>
      </div>

      <div class="col-md-6">

        <div class="field input-field">
          <input
            type="text"
            placeholder="Last Name"
            class="input p-3"
            id="inputLast"
          />
        </div>

      </div>

      <div class="col-md-6">
        <div class="field input-field mt-3">
          <input
            type="text"
            placeholder="Email"
            class="input p-3"
            id="inputEmail"
          />
        </div>
      </div>

      <div class="col-md-6">
        <div class="field input-field mt-3">
          <input
            type="text"
            placeholder="Phone"
            class="input p-3"
            id="inputPhone"
          />
        </div>
      </div>

      <div class="col-12">
        <div class="field input-field mt-3">
          <input
            type="text"
            class="input p-3"
            id="inputAddress"
            placeholder=" Address ( 1234 Main St) "
          />
        </div>
      </div>

      <div class="col-12">

        <div class="field input-field mt-3">
          <input
            type="text"
            class="input p-3"
            id="inputAddress2"
            placeholder=" Apartment, studio, or floor "
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="field input-field mt-3">
          <input
            type="text"
            class="input p-3"
            id="inputCity"
            placeholder="City"
          />
        </div>
      </div>
      <div class="col-md-4">
        <div class="field input-field mt-3">
          <input
            type="text"
            class="input p-3"
            id="inputState"
            placeholder="State"
          />
        </div>
      </div>
      <div class="col-md-2">
        <div class="field input-field mt-3">
          <input
            type="text"
            class="input p-3"
            id="inputZip"
            placeholder="Zip"
          />
        </div>
      </div>

      <div class="col-md-6">
        <div class="field input-field mt-3">
          <input
            type="text"
            class="input p-3"
            id="inputDescription"
            placeholder="Description"
          />
        </div>
      </div>
      <div class="col-md-4">
        <div class="field input-field mt-3">
          <input
            type="text"
            class="input p-3"
            id="inputItem"
            placeholder="Item"
          />
        </div>
      </div>
      <div class="col-md-2">
        <div class="field input-field mt-3">
          <input
            type="text"
            class="input p-3"
            id="inputCost"
            placeholder="Cost"
          />
        </div>
      </div>
      <div class="col-12">

        <hr />

        <button type="submit" class="btn btn-primary create-invoice">Create
          Invoice</button>
      </div>
    </div>
  </form>
  <hr />

  <hr />

  <div id="invoice_container" class="row justify-content-center">
    <h2 class="text-light">Your Invoices</h2>
    {{#each invoices as |invoice|}}
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{invoice.first_name}}
            {{invoice.last_name}}</h5>
          <p class="card-text"> {{invoice.description}}, {{invoice.cost}} </p>
          <div class="card-footer">
            <button class="btn btn-danger" data-id="{{invoice.id}}">Delete
              Invoice</button>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>

<script src="/js/invoice.js"></script>